.card {
    margin-bottom: 10px;
}

.card img {
    width: 80%;
}
.card-tag {
    color: #888888;
    font-size: 12px;
    margin: 0 5px;
}
.card-name {
    font-size: 13px;
    color: #282c34;
}
.card-email {
    font-size: 12px;
    color: #888;
}
